<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for("static", filename='css/index.css')}}">
</head>
<body>
    
    <ul id="barra">
        <li id="elemento"><a href="{{url_for('inicio')}}">Inicio</a></li>
        <li id="elemento"><a href="{{url_for('servicios')}}">Servicios</a></li>
        <li id="elemento"><a href="{{url_for('productos')}}">Productos</a></li>
        <li> <a href="{{url_for('contacto')}}">Contacto</a></li>
    </ul>

    <div>
        <ul style="list-style: none;">
            {% if current_user.is_anonymous %}
            <li>Usuario: anónimo</li>
            <li><a href="{{ url_for('login')}}""> Ir a login</a></li>
            {% else %}
            <li>Usuario: {{current_user.name}} </li>
            <li><a href="{{ url_for('logout')}}""> Ir a logout</a></li>

            {% endif %}
        </ul>



    </div>

    {% block content %}

    {% endblock %}
    
</body>
</html>