{% extends "base.html" %}

{% block title %}Contacto {{num_usuario}} {% endblock %} 

{% block content %}

    <form action="" method="post">

        <label>Nombre: </label>
        <input type="text" id="nombre" name="nombre"/><br>

        <label>Email: </label>
        <input type="text" id="email:" name="email:"/><br>

        <label>Contraseña: </label>
        <input type="text" id="contra" name="contra"/><br>

        <input type="submit" id="envio_formulario" name="envio_formulario" value="Registrate"/>

    </form>

    {% endblock %}